.logo {
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 45%;
    background-image: url(https://generatorsolutions.co.za/wp-content/uploads/2025/07/logo.jpg);
    background-size: contain;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #f8f8f8;
}